extends layout


block content

  //Begin Page Content
  div.container-fluid

    //Page Heading
    div.d-sm-flex.align-items-center.justify-content-between.mb-4
      h1.h3.mb-0.text-gray-800
        |Masternodes
        if MNdata.summary.length != 0
            h4.mb-0.text-primary
              =Math.round(MNdata.totalTokenBtc*1000)/1000
              |  Btc  -  
              =Math.round(MNdata.totalgainperweekBtc*1000)/1000
              |  Btc/sem
            span.text-xs.text-gray-500
              =Math.round(MNdata.totalTokenEur)
              |  €  -  
              =Math.round(MNdata.totalgainperweekEur*10)/10
              |  €/sem

    //Collapse card example
    div.card.shadow.mb-4
      //Card Header - Accordion
      a(href="#collapseCardExample",class="d-block card-header py-3",data-toggle="collapse",role="button",aria-expanded="true",aria-controls="collapseCardExample")
          h6.m-1.font-weight-bold.text-primary 
            | Axel   -   
            each cryptodata in Cryptodata
              if cryptodata.symbol=='axel'
                h7.mb-0.text-primary.font-weight-light
                  img(src=cryptodata.image.small,width="20 px")
                  |      
                  =cryptodata.market_data.current_price.eur
                  |  €       
                if cryptodata.market_data.price_change_percentage_24h>0
                  span.text-success
                    |+
                    =Math.round(cryptodata.market_data.price_change_percentage_24h*10)/10
                    | %  
                else
                  span.text-danger
                    =Math.round(cryptodata.market_data.price_change_percentage_24h*10)/10
                    | %
          if MNdata.summary.length != 0
            each summary in MNdata.summary 
              if summary.crypto=="Axel"
                h7.text-primary
                  | Total  
                  =Math.round(summary.totalBtc*100)/100
                  |  Btc  
                span.text-xs.text-gray-500
                  =Math.round(summary.totalEur*100)/100
                  |  €
      //Card Content - Collapse
      div.collapse.show#collapseCardExample(style="")
        div.card-body
          p
            |This is a collapsable card example using Bootstrap's built in collapse functionality. 
            strong Click on the card header out strong
            |to see the card body collapse and expand!
          p
            form(name="axel-submit",method="post")
              input(type="hidden",id="crypto",value="Axel",name="crypto")
              input(type="hidden",id="user",value="Andreas",name="user")
              button(type="submit",value="Axel").btn.btn-primary.btn-icon-split
                span.icon.text-white-50
                  i.fas.fa-arrow-right
                span.text.text-white Create New Axel MN
          if MNinfos
            if MNinfos.status==installed
            |  Now send your 5000 collateral to
            =MNinfos.pubkey
          div.my-2
          p
          //Content Row
          div.row
            if MNdata.masternodes.length != 0
              each masternode in MNdata.masternodes
                if masternode.crypto == 'Axel'
                  each cryptodata in Cryptodata
                    if cryptodata.symbol=='axel'
                      //Earnings (Monthly) Card Example
                      div.col-xl-4.col-md-6.mb-4
                        if masternode.isactive === true
                          div.card.border-left-success.shadow.h-100.py-2
                            div.card-body
                              div.row.no-gutters.align-items-center
                                div.col.mr-2
                                  div.text-xs.font-weight-bold.text-primary.text-uppercase.mb-1.d-flex
                                    =masternode.serverName
                                    |  -  ROI  : 
                                    =Math.round(((masternode.gainperweek/7)*365)/masternode.collateral*1000)/10
                                    |  -   Par mois  : 
                                    =Math.round((cryptodata.market_data.current_price.eur*masternode.gainperweek/7)*30*100)/100
                                    | €
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Total : 
                                    =Math.round(masternode.totalToken*100)/100
                                    |  Axels  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*masternode.totalToken*100)/100
                                      | €
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Gain since created : 
                                    =Math.round(masternode.gainsincecreated*100)/100
                                    |  Axels  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*masternode.gainsincecreated*100)/100
                                      |€
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Available : 
                                    =Math.round((masternode.totalToken-masternode.collateral)*100)/100
                                    |  Axels  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*(masternode.totalToken-masternode.collateral)*100)/100
                                      | €
                                div.col-auto.d-flex.flex-column
                                  div
                                    i.fas.fa-exchange-alt.fa-1x.text-primary
                                  div
                                    i.fa.fa-trash.fa-1x.text-danger
                        else
                          div.card.border-left-danger.shadow.h-100.py-2
                            div.card-body
                              div.row.no-gutters.align-items-center
                                div.col.mr-2
                                  div.text-xs.font-weight-bold.text-primary.text-uppercase.mb-1.d-flex
                                    =masternode.serverName
                                    |  -  ROI  : 
                                    =Math.round(((masternode.gainperweek/7)*365)/masternode.collateral*1000)/10
                                    | %
                                    |  -   Par mois  : 
                                    =Math.round((cryptodata.market_data.current_price.eur*masternode.gainperweek/7)*30*100)/100
                                    | €
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Total : 
                                    =Math.round(masternode.totalToken*100)/100
                                    |  Axels  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*masternode.totalToken*100)/100
                                      | €
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Gain since created : 
                                    =Math.round(masternode.gainsincecreated*100)/100
                                    |  Axels  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*masternode.gainsincecreated*100)/100
                                      |€
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Available : 
                                    =Math.round((masternode.totalToken-masternode.collateral)*100)/100
                                    |  Axels  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*(masternode.totalToken-masternode.collateral)*100)/100
                                      | €
                                div.col-auto.d-flex.flex-column
                                  div
                                    i.fas.fa-exchange-alt.fa-1x.text-primary
                                  div
                                    i.fa.fa-trash.fa-1x.text-danger
            else
              p No masternodes yet :(


    //Collapse card example
    div.card.shadow.mb-4
      //Card Header - Accordion
      a(href="#collapseCardExample",class="d-block card-header py-3",data-toggle="collapse",role="button",aria-expanded="true",aria-controls="collapseCardExample")
          h6.m-1.font-weight-bold.text-primary 
            | Scap   -   
            each cryptodata in Cryptodata
              if cryptodata.symbol=='scap'
                h7.mb-0.text-primary.font-weight-light
                  img(src=cryptodata.image.small,width="20 px")
                  |      
                  =cryptodata.market_data.current_price.eur
                  |  €       
                if cryptodata.market_data.price_change_percentage_24h>0
                  span.text-success
                    |+
                    =Math.round(cryptodata.market_data.price_change_percentage_24h*10)/10
                    | %  
                else
                  span.text-danger
                    =Math.round(cryptodata.market_data.price_change_percentage_24h*10)/10
                    | %
          if MNdata.summary.length != 0
            each summary in MNdata.summary 
              if summary.crypto=="Scap"
                h7.text-primary
                  | Total  
                  =Math.round(summary.totalBtc*100)/100
                  |  Btc  
                span.text-xs.text-gray-500
                  =Math.round(summary.totalEur*100)/100
                  |  €
      //Card Content - Collapse
      div.collapse.show#collapseCardExample(style="")
        div.card-body
          p
            |This is a collapsable card example using Bootstrap's built in collapse functionality. 
            strong Click on the card header out strong
            |to see the card body collapse and expand!
          p
            form(name="scap-submit",method="post")
              input(type="hidden",id="crypto",value="Scap",name="crypto")
              input(type="hidden",id="user",value="Andreas",name="user")
              button(type="submit",value="Scap").btn.btn-primary.btn-icon-split
                span.icon.text-white-50
                  i.fas.fa-arrow-right
                span.text.text-white Create New Scap MN
          if MNinfos
            if MNinfos.status==installed
            |  Now send your 5000 collateral to
            =MNinfos.pubkey
          div.my-2
          p
          //Content Row
          div.row
            if MNdata.masternodes.length != 0
              each masternode in MNdata.masternodes
                if masternode.crypto == 'Scap'
                  each cryptodata in Cryptodata
                    if cryptodata.symbol=='scap'
                      //Earnings (Monthly) Card Example
                      div.col-xl-4.col-md-6.mb-4
                        if masternode.isactive === true
                          div.card.border-left-success.shadow.h-100.py-2
                            div.card-body
                              div.row.no-gutters.align-items-center
                                div.col.mr-2
                                  div.text-xs.font-weight-bold.text-primary.text-uppercase.mb-1.d-flex
                                    =masternode.serverName
                                    |  -  ROI  : 
                                    =Math.round(((masternode.gainperweek/7)*365)/masternode.collateral*1000)/10
                                    |  -   Par mois  : 
                                    =Math.round((cryptodata.market_data.current_price.eur*masternode.gainperweek/7)*30*100)/100
                                    | €
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Total : 
                                    =Math.round(masternode.totalToken*100)/100
                                    |  Scap  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*masternode.totalToken*100)/100
                                      | €
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Gain since created : 
                                    =Math.round(masternode.gainsincecreated*100)/100
                                    |  Scap  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*masternode.gainsincecreated*100)/100
                                      |€
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Available : 
                                    =Math.round((masternode.totalToken-masternode.collateral)*100)/100
                                    |  Scap  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*(masternode.totalToken-masternode.collateral)*100)/100
                                      | €
                                div.col-auto.d-flex.flex-column
                                  div
                                    i.fas.fa-exchange-alt.fa-1x.text-primary
                                  div
                                    i.fa.fa-trash.fa-1x.text-danger
                        else
                          div.card.border-left-danger.shadow.h-100.py-2
                            div.card-body
                              div.row.no-gutters.align-items-center
                                div.col.mr-2
                                  div.text-xs.font-weight-bold.text-primary.text-uppercase.mb-1.d-flex
                                    =masternode.serverName
                                    |  -  ROI  : 
                                    =Math.round(((masternode.gainperweek/7)*365)/masternode.collateral*1000)/10
                                    | %
                                    |  -   Par mois  : 
                                    =Math.round((cryptodata.market_data.current_price.eur*masternode.gainperweek/7)*30*100)/100
                                    | €
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Total : 
                                    =Math.round(masternode.totalToken*100)/100
                                    |  Scap  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*masternode.totalToken*100)/100
                                      | €
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Gain since created : 
                                    =Math.round(masternode.gainsincecreated*100)/100
                                    |  Scap  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*masternode.gainsincecreated*100)/100
                                      |€
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Available : 
                                    =Math.round((masternode.totalToken-masternode.collateral)*100)/100
                                    |  Scap  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*(masternode.totalToken-masternode.collateral)*100)/100
                                      | €
                                div.col-auto.d-flex.flex-column
                                  div
                                    i.fas.fa-exchange-alt.fa-1x.text-primary
                                  div
                                    i.fa.fa-trash.fa-1x.text-danger
            else
              p No masternodes yet :(


    //Collapse card example
    div.card.shadow.mb-4
      //Card Header - Accordion
      a(href="#collapseCardExample",class="d-block card-header py-3",data-toggle="collapse",role="button",aria-expanded="true",aria-controls="collapseCardExample")
          h6.m-1.font-weight-bold.text-primary 
            | IQ Cash   -   
            each cryptodata in Cryptodata
              if cryptodata.symbol=='iq'
                h7.mb-0.text-primary.font-weight-light
                  img(src=cryptodata.image.small,width="20 px")
                  |      
                  =cryptodata.market_data.current_price.eur
                  |  €       
                if cryptodata.market_data.price_change_percentage_24h>0
                  span.text-success
                    |+
                    =Math.round(cryptodata.market_data.price_change_percentage_24h*10)/10
                    | %  
                else
                  span.text-danger
                    =Math.round(cryptodata.market_data.price_change_percentage_24h*10)/10
                    | %
          if MNdata.summary.length != 0
            each summary in MNdata.summary 
              if summary.crypto=="Iqcash"
                h7.text-primary
                  | Total  
                  =Math.round(summary.totalBtc*100)/100
                  |  Btc  
                span.text-xs.text-gray-500
                  =Math.round(summary.totalEur*100)/100
                  |  €
      //Card Content - Collapse
      div.collapse.show#collapseCardExample(style="")
        div.card-body
          p
            |This is a collapsable card example using Bootstrap's built in collapse functionality. 
            strong Click on the card header out strong
            |to see the card body collapse and expand!
          p
            form(name="iqcash-submit",method="post")
              input(type="hidden",id="crypto",value="Iqcash",name="crypto")
              input(type="hidden",id="user",value="Andreas",name="user")
              button(type="submit",value="Iqcash").btn.btn-primary.btn-icon-split
                span.icon.text-white-50
                  i.fas.fa-arrow-right
                span.text.text-white Create New IQ-cash MN
          if MNinfos
            if MNinfos.status==installed
            |  Now send your 5000 collateral to
            =MNinfos.pubkey
          div.my-2
          p
          //Content Row
          div.row
            if MNdata.masternodes.length != 0
              each masternode in MNdata.masternodes
                if masternode.crypto == 'Iqcash'
                  each cryptodata in Cryptodata
                    if cryptodata.symbol=='iq'
                      //Earnings (Monthly) Card Example
                      div.col-xl-4.col-md-6.mb-4
                        if masternode.isactive === true
                          div.card.border-left-success.shadow.h-100.py-2
                            div.card-body
                              div.row.no-gutters.align-items-center
                                div.col.mr-2
                                  div.text-xs.font-weight-bold.text-primary.text-uppercase.mb-1.d-flex
                                    =masternode.serverName
                                    |  -  ROI  : 
                                    =Math.round(((masternode.gainperweek/7)*365)/masternode.collateral*1000)/10
                                    |  -   Par mois  : 
                                    =Math.round((cryptodata.market_data.current_price.eur*masternode.gainperweek/7)*30*100)/100
                                    | €
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Total : 
                                    =Math.round(masternode.totalToken*100)/100
                                    |  IQ  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*masternode.totalToken*100)/100
                                      | €
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Gain since created : 
                                    =Math.round(masternode.gainsincecreated*100)/100
                                    |  IQ  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*masternode.gainsincecreated*100)/100
                                      |€
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Available : 
                                    =Math.round((masternode.totalToken-masternode.collateral)*100)/100
                                    |  IQ  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*(masternode.totalToken-masternode.collateral)*100)/100
                                      | €
                                div.col-auto.d-flex.flex-column
                                  div
                                    i.fas.fa-exchange-alt.fa-1x.text-primary
                                  div
                                    i.fa.fa-trash.fa-1x.text-danger
                        else
                          div.card.border-left-danger.shadow.h-100.py-2
                            div.card-body
                              div.row.no-gutters.align-items-center
                                div.col.mr-2
                                  div.text-xs.font-weight-bold.text-primary.text-uppercase.mb-1.d-flex
                                    =masternode.serverName
                                    |  -  ROI  : 
                                    =Math.round(((masternode.gainperweek/7)*365)/masternode.collateral*1000)/10
                                    | %
                                    |  -   Par mois  : 
                                    =Math.round((cryptodata.market_data.current_price.eur*masternode.gainperweek/7)*30*100)/100
                                    | €
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Total : 
                                    =Math.round(masternode.totalToken*100)/100
                                    |  IQ  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*masternode.totalToken*100)/100
                                      | €
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Gain since created : 
                                    =Math.round(masternode.gainsincecreated*100)/100
                                    |  IQ  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*masternode.gainsincecreated*100)/100
                                      |€
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Available : 
                                    =Math.round((masternode.totalToken-masternode.collateral)*100)/100
                                    |  IQ  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*(masternode.totalToken-masternode.collateral)*100)/100
                                      | €
                                div.col-auto.d-flex.flex-column
                                  div
                                    i.fas.fa-exchange-alt.fa-1x.text-primary
                                  div
                                    i.fa.fa-trash.fa-1x.text-danger
            else
              p No masternodes yet :(


    //Collapse card example
    div.card.shadow.mb-4
      //Card Header - Accordion
      a(href="#collapseCardExample",class="d-block card-header py-3",data-toggle="collapse",role="button",aria-expanded="true",aria-controls="collapseCardExample")
          h6.m-1.font-weight-bold.text-primary 
            | Telos   -   
            each cryptodata in Cryptodata
              if cryptodata.symbol=='telos'
                h7.mb-0.text-primary.font-weight-light
                  img(src=cryptodata.image.small,width="20 px")
                  |      
                  =cryptodata.market_data.current_price.eur
                  |  €       
                if cryptodata.market_data.price_change_percentage_24h>0
                  span.text-success
                    |+
                    =Math.round(cryptodata.market_data.price_change_percentage_24h*10)/10
                    | %  
                else
                  span.text-danger
                    =Math.round(cryptodata.market_data.price_change_percentage_24h*10)/10
                    | %
          if MNdata.summary.length != 0
            each summary in MNdata.summary 
              if summary.crypto=="Telos"
                h7.text-primary
                  | Total  
                  =Math.round(summary.totalBtc*100)/100
                  |  Btc  
                span.text-xs.text-gray-500
                  =Math.round(summary.totalEur*100)/100
                  |  €
      //Card Content - Collapse
      div.collapse.show#collapseCardExample(style="")
        div.card-body
          p
            |This is a collapsable card example using Bootstrap's built in collapse functionality. 
            strong Click on the card header out strong
            |to see the card body collapse and expand!
          p
            form(name="telos-submit",method="post")
              input(type="hidden",id="crypto",value="Telos",name="crypto")
              input(type="hidden",id="user",value="Andreas",name="user")
              button(type="submit",value="Telos").btn.btn-primary.btn-icon-split
                span.icon.text-white-50
                  i.fas.fa-arrow-right
                span.text.text-white Create New Telos MN
          if MNinfos
            if MNinfos.status==installed
            |  Now send your 5000 collateral to
            =MNinfos.pubkey
          div.my-2
          p
          //Content Row
          div.row
            if MNdata.masternodes.length != 0
              each masternode in MNdata.masternodes
                if masternode.crypto == 'Telos'
                  each cryptodata in Cryptodata
                    if cryptodata.symbol=='telos'
                      //Earnings (Monthly) Card Example
                      div.col-xl-4.col-md-6.mb-4
                        if masternode.isactive === true
                          div.card.border-left-success.shadow.h-100.py-2
                            div.card-body
                              div.row.no-gutters.align-items-center
                                div.col.mr-2
                                  div.text-xs.font-weight-bold.text-primary.text-uppercase.mb-1.d-flex
                                    =masternode.serverName
                                    |  -  ROI  : 
                                    =Math.round(((masternode.gainperweek/7)*365)/masternode.collateral*1000)/10
                                    |  -   Par mois  : 
                                    =Math.round((cryptodata.market_data.current_price.eur*masternode.gainperweek/7)*30*100)/100
                                    | €
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Total : 
                                    =Math.round(masternode.totalToken*100)/100
                                    |  Telos  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*masternode.totalToken*100)/100
                                      | €
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Gain since created : 
                                    =Math.round(masternode.gainsincecreated*100)/100
                                    |  Telos  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*masternode.gainsincecreated*100)/100
                                      |€
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Available : 
                                    =Math.round((masternode.totalToken-masternode.collateral)*100)/100
                                    |  Telos  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*(masternode.totalToken-masternode.collateral)*100)/100
                                      | €
                                div.col-auto.d-flex.flex-column
                                  div
                                    i.fas.fa-exchange-alt.fa-1x.text-primary
                                  div
                                    i.fa.fa-trash.fa-1x.text-danger
                        else
                          div.card.border-left-danger.shadow.h-100.py-2
                            div.card-body
                              div.row.no-gutters.align-items-center
                                div.col.mr-2
                                  div.text-xs.font-weight-bold.text-primary.text-uppercase.mb-1.d-flex
                                    =masternode.serverName
                                    |  -  ROI  : 
                                    =Math.round(((masternode.gainperweek/7)*365)/masternode.collateral*1000)/10
                                    | %
                                    |  -   Par mois  : 
                                    =Math.round((cryptodata.market_data.current_price.eur*masternode.gainperweek/7)*30*100)/100
                                    | €
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Total : 
                                    =Math.round(masternode.totalToken*100)/100
                                    |  Telos  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*masternode.totalToken*100)/100
                                      | €
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Gain since created : 
                                    =Math.round(masternode.gainsincecreated*100)/100
                                    |  Telos  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*masternode.gainsincecreated*100)/100
                                      |€
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Available : 
                                    =Math.round((masternode.totalToken-masternode.collateral)*100)/100
                                    |  Telos  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*(masternode.totalToken-masternode.collateral)*100)/100
                                      | €
                                div.col-auto.d-flex.flex-column
                                  div
                                    i.fas.fa-exchange-alt.fa-1x.text-primary
                                  div
                                    i.fa.fa-trash.fa-1x.text-danger
            else
              p No masternodes yet :(


    //Collapse card example
    div.card.shadow.mb-4
      //Card Header - Accordion
      a(href="#collapseCardExample",class="d-block card-header py-3",data-toggle="collapse",role="button",aria-expanded="true",aria-controls="collapseCardExample")
          h6.m-1.font-weight-bold.text-primary 
            | Energi   -   
            each cryptodata in Cryptodata
              if cryptodata.symbol=='nrg'
                h7.mb-0.text-primary.font-weight-light
                  img(src=cryptodata.image.small,width="20 px")
                  |      
                  =cryptodata.market_data.current_price.eur
                  |  €       
                if cryptodata.market_data.price_change_percentage_24h>0
                  span.text-success
                    |+
                    =Math.round(cryptodata.market_data.price_change_percentage_24h*10)/10
                    | %  
                else
                  span.text-danger
                    =Math.round(cryptodata.market_data.price_change_percentage_24h*10)/10
                    | %
          if MNdata.summary.length != 0
            each summary in MNdata.summary 
              if summary.crypto=="Energi"
                h7.text-primary
                  | Total  
                  =Math.round(summary.totalBtc*100)/100
                  |  Btc  
                span.text-xs.text-gray-500
                  =Math.round(summary.totalEur*100)/100
                  |  €
      //Card Content - Collapse
      div.collapse.show#collapseCardExample(style="")
        div.card-body
          p
            |This is a collapsable card example using Bootstrap's built in collapse functionality. 
            strong Click on the card header out strong
            |to see the card body collapse and expand!
          p
            form(name="energi-submit",method="post")
              input(type="hidden",id="crypto",value="Energi",name="crypto")
              input(type="hidden",id="user",value="Andreas",name="user")
              button(type="submit",value="Energi").btn.btn-primary.btn-icon-split
                span.icon.text-white-50
                  i.fas.fa-arrow-right
                span.text.text-white Create New Energi MN
          if MNinfos
            if MNinfos.status==installed
            |  Now send your 5000 collateral to
            =MNinfos.pubkey
          div.my-2
          p
          //Content Row
          div.row
            if MNdata.masternodes.length != 0
              each masternode in MNdata.masternodes
                if masternode.crypto == 'Energi'
                  each cryptodata in Cryptodata
                    if cryptodata.symbol=='nrg'
                      //Earnings (Monthly) Card Example
                      div.col-xl-4.col-md-6.mb-4
                        if masternode.isactive === true
                          div.card.border-left-success.shadow.h-100.py-2
                            div.card-body
                              div.row.no-gutters.align-items-center
                                div.col.mr-2
                                  div.text-xs.font-weight-bold.text-primary.text-uppercase.mb-1.d-flex
                                    =masternode.serverName
                                    |  -  ROI  : 
                                    =Math.round(((masternode.gainperweek/7)*365)/masternode.collateral*1000)/10
                                    |  -   Par mois  : 
                                    =Math.round((cryptodata.market_data.current_price.eur*masternode.gainperweek/7)*30*100)/100
                                    | €
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Total : 
                                    =Math.round(masternode.totalToken*100)/100
                                    |  NRG  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*masternode.totalToken*100)/100
                                      | €
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Gain since created : 
                                    =Math.round(masternode.gainsincecreated*100)/100
                                    |  NRG  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*masternode.gainsincecreated*100)/100
                                      |€
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Available : 
                                    =Math.round((masternode.totalToken-masternode.collateral)*100)/100
                                    |  NRG  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*(masternode.totalToken-masternode.collateral)*100)/100
                                      | €
                                div.col-auto.d-flex.flex-column
                                  div
                                    i.fas.fa-exchange-alt.fa-1x.text-primary
                                  div
                                    i.fa.fa-trash.fa-1x.text-danger
                        else
                          div.card.border-left-danger.shadow.h-100.py-2
                            div.card-body
                              div.row.no-gutters.align-items-center
                                div.col.mr-2
                                  div.text-xs.font-weight-bold.text-primary.text-uppercase.mb-1.d-flex
                                    =masternode.serverName
                                    |  -  ROI  : 
                                    =Math.round(((masternode.gainperweek/7)*365)/masternode.collateral*1000)/10
                                    | %
                                    |  -   Par mois  : 
                                    =Math.round((cryptodata.market_data.current_price.eur*masternode.gainperweek/7)*30*100)/100
                                    | €
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Total : 
                                    =Math.round(masternode.totalToken*100)/100
                                    |  NRG  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*masternode.totalToken*100)/100
                                      | €
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Gain since created : 
                                    =Math.round(masternode.gainsincecreated*100)/100
                                    |  NRG  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*masternode.gainsincecreated*100)/100
                                      |€
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Available : 
                                    =Math.round((masternode.totalToken-masternode.collateral)*100)/100
                                    |  NRG  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*(masternode.totalToken-masternode.collateral)*100)/100
                                      | €
                                div.col-auto.d-flex.flex-column
                                  div
                                    i.fas.fa-exchange-alt.fa-1x.text-primary
                                  div
                                    i.fa.fa-trash.fa-1x.text-danger
            else
              p No masternodes yet :(

  script.
    const socket = io();
    socket.on('loadingbutton', function(message) {
    const spinner= '<button class="btn btn-primary" type="button" disabled><span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>'+message+'</button>';
      $('#loadingbutton').append($(spinner));
      socket.emit('message', "Salut serveur, je suis connecté !");
    });